github-test-case-generator-dual-mode.json
{
  "name": "GitHub Test Case Generator - Dual Mode (Batch & Individual)",
  "nodes": [
    {
      "parameters": {},
      "id": "0459a837-ae96-4a27-a67b-33aaa7dd5b25",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1904, -16]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "owner",
              "value": "wizeline",
              "type": "string"
            },
            {
              "id": "2",
              "name": "repo",
              "value": "BytescribeTeam",
              "type": "string"
            },
            {
              "id": "3",
              "name": "branch",
              "value": "main",
              "type": "string"
            },
            {
              "id": "4",
              "name": "processingMode",
              "value": "individual",
              "type": "string"
            },
            {
              "id": "5",
              "name": "batchSize",
              "value": 10,
              "type": "number"
            },
            {
              "id": "6",
              "name": "fetchFileContent",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "7",
              "name": "maxFilesToProcess",
              "value": 50,
              "type": "number"
            },
            {
              "id": "8",
              "name": "testBranch",
              "value": "auto-generated-tests",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8c182798-5287-43ac-94b8-0def6b83e29d",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1680, -16],
      "notes": "Set processingMode to:\n- 'batch' for faster batch processing\n- 'individual' for detailed file-by-file analysis\n\nSet fetchFileContent to true to get actual code content\nAdjust maxFilesToProcess and batchSize as needed\ntestBranch: branch name for auto-generated test commits"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/branches/{{ $json.branch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "94e008e5-7408-4f2a-b378-40b33946bd61",
      "name": "Get Branch Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1456, -16],
      "credentials": {
        "githubApi": {
          "id": "8iyQGt8qXBNNlcup",
          "name": "GitHub account 4"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Configuration').item.json.owner }}/{{ $('Configuration').item.json.repo }}/git/trees/{{ $json.commit.sha }}?recursive=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "d505c676-14bf-4739-ac2e-0d81a395367d",
      "name": "Get Repository Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1232, -16],
      "credentials": {
        "githubApi": {
          "id": "74FBfZyE3yFXYmu7",
          "name": "GitHub account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract file tree from GitHub API response\nconst treeData = $input.first().json.tree;\nconst config = $('Configuration').first().json;\nconst owner = config.owner;\nconst repo = config.repo;\nconst branch = config.branch;\nconst maxFiles = config.maxFilesToProcess || 100;\n\n// Define testable file extensions by language/framework\nconst testableExtensions = {\n  javascript: ['.js', '.jsx', '.mjs', '.cjs'],\n  typescript: ['.ts', '.tsx'],\n  python: ['.py'],\n  java: ['.java', '.kt', '.kts'],\n  csharp: ['.cs'],\n  go: ['.go'],\n  ruby: ['.rb'],\n  php: ['.php'],\n  rust: ['.rs'],\n  swift: ['.swift'],\n  cpp: ['.c', '.cpp', '.cc', '.cxx', '.h', '.hpp'],\n  scala: ['.scala'],\n  vue: ['.vue'],\n  svelte: ['.svelte']\n};\n\nconst allTestableExtensions = Object.values(testableExtensions).flat();\n\nconst excludePaths = [\n  'test', 'tests', '__tests__', 'spec', 'specs',\n  'node_modules', 'vendor', 'dist', 'build', 'out',\n  '.git', '.github', '.vscode', '.idea',\n  'coverage', 'docs', 'documentation',\n  'examples', 'demo', 'samples'\n];\n\nconst excludeFilenames = [\n  'jest.config', 'webpack.config', 'babel.config',\n  'tsconfig', 'eslint', 'prettier',\n  '.test.', '.spec.', '_test.', '_spec.',\n  'test.', 'spec.', 'mock', 'fixture'\n];\n\nconst sourceFiles = treeData\n  .filter(item => {\n    if (item.type !== 'blob') return false;\n    \n    const path = item.path.toLowerCase();\n    const filename = path.split('/').pop();\n    \n    const hasTestableExt = allTestableExtensions.some(ext => \n      item.path.endsWith(ext)\n    );\n    if (!hasTestableExt) return false;\n    \n    const isInExcludedPath = excludePaths.some(excluded => \n      path.includes('/' + excluded.toLowerCase() + '/') || \n      path.startsWith(excluded.toLowerCase() + '/')\n    );\n    if (isInExcludedPath) return false;\n    \n    const hasExcludedPattern = excludeFilenames.some(pattern => \n      filename.includes(pattern.toLowerCase())\n    );\n    if (hasExcludedPattern) return false;\n    \n    if (item.size && item.size > 500000) return false;\n    \n    return true;\n  })\n  .slice(0, maxFiles)  // Limit based on config\n  .map(file => {\n    let language = 'unknown';\n    for (const [lang, exts] of Object.entries(testableExtensions)) {\n      if (exts.some(ext => file.path.endsWith(ext))) {\n        language = lang;\n        break;\n      }\n    }\n    \n    return {\n      path: file.path,\n      sha: file.sha,\n      size: file.size,\n      url: file.url,\n      language: language,\n      owner: owner,\n      repo: repo,\n      branch: branch\n    };\n  });\n\nconst filesByLanguage = sourceFiles.reduce((acc, file) => {\n  if (!acc[file.language]) {\n    acc[file.language] = [];\n  }\n  acc[file.language].push(file);\n  return acc;\n}, {});\n\nconst languageStats = Object.entries(filesByLanguage).map(([lang, files]) => ({\n  language: lang,\n  count: files.length,\n  totalSize: files.reduce((sum, f) => sum + (f.size || 0), 0)\n}));\n\nreturn [{\n  json: {\n    owner,\n    repo,\n    branch,\n    processingMode: config.processingMode,\n    fetchFileContent: config.fetchFileContent,\n    batchSize: config.batchSize,\n    totalFiles: treeData.length,\n    sourceFilesCount: sourceFiles.length,\n    sourceFiles: sourceFiles,\n    filesByLanguage: filesByLanguage,\n    languageStats: languageStats,\n    repositoryUrl: `https://github.com/${owner}/${repo}`\n  }\n}];"
      },
      "id": "36b88478-39a4-4603-b350-2f89d7c7e479",
      "name": "Process File Structure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1008, -16]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "mode-check",
              "leftValue": "={{ $json.processingMode }}",
              "rightValue": "individual",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fa27a571-50c2-40d0-860e-8c242e7051ac",
      "name": "Route by Processing Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-784, -16]
    },
    {
      "parameters": {
        "fieldToSplitOut": "sourceFiles",
        "options": {}
      },
      "id": "cd2eea94-2cb7-46a4-b3cb-d4838b2c6373",
      "name": "Split Into Individual Files",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-560, -128]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/contents/{{ $json.path }}?ref={{ $json.branch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "7a430b71-1ffc-4858-a980-570bf72237ea",
      "name": "Fetch File Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-336, -128],
      "credentials": {
        "githubApi": {
          "id": "74FBfZyE3yFXYmu7",
          "name": "GitHub account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Decode base64 content and prepare for AI\nconst item = $input.first().json;\nconst fileInfo = $input.first().json;\n\nlet fileContent = '';\nif (item.content && item.encoding === 'base64') {\n  fileContent = Buffer.from(item.content, 'base64').toString('utf-8');\n}\n\nreturn [{\n  json: {\n    filePath: item.path,\n    fileName: item.name,\n    language: fileInfo.language,\n    size: item.size,\n    content: fileContent,\n    sha: item.sha,\n    owner: fileInfo.owner,\n    repo: fileInfo.repo\n  }\n}];"
      },
      "id": "3ce4bb43-f917-4de7-aeb1-acb4ea8ac344",
      "name": "Prepare Individual File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-112, -128]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "individual-prompt",
              "name": "prompt",
              "value": "=File: {{ $json.filePath }}\nLanguage: {{ $json.language }}\nSize: {{ $json.size }} bytes\n\nFile Content:\n```{{ $json.language }}\n{{ $json.content }}\n```\n\nTask: Generate COMPLETE, EXECUTABLE unit tests for this file. The tests must be production-ready code that can run immediately.\n\nRequirements:\n1. Analyze all functions, classes, and exports in the source file\n2. Generate FULL test code with proper imports, setup, and teardown\n3. Cover happy paths, edge cases, error handling, and boundary conditions\n4. Use appropriate testing framework for {{ $json.language }}\n5. Include necessary mocks for external dependencies\n6. Write tests that actually validate the logic in the source code\n7. Generate COMPLETE test file content - no placeholders or comments like \"add more tests\"\n\nIMPORTANT: Return ONLY valid JSON, no markdown or explanations.\n\nFormat:\n{\n  \"sourceFile\": \"{{ $json.filePath }}\",\n  \"language\": \"{{ $json.language }}\",\n  \"testFile\": \"path/to/test/file\",\n  \"framework\": \"jest|mocha|pytest|junit|etc\",\n  \"testFileContent\": \"COMPLETE executable test code with all imports and test cases\",\n  \"dependencies\": [\"testing-library\", \"mock-library\"],\n  \"coverage\": {\n    \"functions\": [\"function1\", \"function2\"],\n    \"scenarios\": [\"happy path\", \"error cases\", \"edge cases\"]\n  },\n  \"runCommand\": \"command to execute tests\",\n  \"notes\": \"Setup instructions if needed\"\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "111898d9-4270-490a-b87c-089e4ca21c66",
      "name": "Prepare Individual File Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [112, -128]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "id": "2c337cc5-1573-4740-a2fa-db5e1e39a174",
      "name": "AI - Individual File Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [336, -128]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "91ba66f1-97f1-4646-b04a-cab3e34bd584",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [560, -16]
    },
    {
      "parameters": {
        "jsCode": "// Prepare batch processing\nconst data = $input.first().json;\nconst batchSize = data.batchSize || 10;\nconst sourceFiles = data.sourceFiles;\n\n// Create batches\nconst batches = [];\nfor (let i = 0; i < sourceFiles.length; i += batchSize) {\n  batches.push({\n    batchNumber: Math.floor(i / batchSize) + 1,\n    files: sourceFiles.slice(i, i + batchSize),\n    owner: data.owner,\n    repo: data.repo,\n    branch: data.branch,\n    totalBatches: Math.ceil(sourceFiles.length / batchSize)\n  });\n}\n\nreturn batches.map(batch => ({ json: batch }));"
      },
      "id": "89dd5bb0-e3f3-4729-b943-b8c48d4b0700",
      "name": "Create Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 96]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "batch-prompt",
              "name": "batchPrompt",
              "value": "=Batch {{ $json.batchNumber }}/{{ $json.totalBatches }}\nRepository: {{ $json.owner }}/{{ $json.repo }}\n\nFiles in this batch:\n{{ $json.files.map(f => `- ${f.path} [${f.language}] (${f.size} bytes)`).join('\\n') }}\n\nTask: Generate COMPLETE, EXECUTABLE unit tests for each file. The tests must be production-ready code that can run immediately.\n\nFor each file:\n1. Infer the likely content and structure based on the file path and language\n2. Generate FULL test code with proper imports, setup, and teardown\n3. Cover common scenarios for files of this type\n4. Use appropriate testing framework\n5. Include necessary mocks\n6. Write COMPLETE test file content - no placeholders\n\nIMPORTANT: Return ONLY a valid JSON array with complete test code.\n\nFormat:\n[\n  {\n    \"sourceFile\": \"path/to/file\",\n    \"language\": \"language\",\n    \"testFile\": \"path/to/test/file\",\n    \"framework\": \"jest|pytest|junit|etc\",\n    \"testFileContent\": \"COMPLETE executable test code\",\n    \"dependencies\": [\"test-deps\"],\n    \"coverage\": {\n      \"functions\": [\"assumed functions\"],\n      \"scenarios\": [\"scenarios covered\"]\n    },\n    \"runCommand\": \"command to run tests\",\n    \"notes\": \"Any setup notes\"\n  }\n]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22dbc25e-a85c-44c5-bb72-1eb3bde91b00",
      "name": "Prepare Batch Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-336, 96]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.batchPrompt }}",
        "options": {}
      },
      "id": "c7220434-76fe-497c-836c-860857f421d3",
      "name": "AI - Batch Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [-112, 96]
    },
    {
      "parameters": {
        "jsCode": "// Parse and aggregate batch results\nconst items = $input.all();\nconst repoInfo = $('Process File Structure').first().json;\n\nlet allTestCases = [];\n\nitems.forEach(item => {\n  const output = item.json.output;\n  \n  let testCases;\n  try {\n    testCases = typeof output === 'string' ? JSON.parse(output) : output;\n  } catch (e) {\n    const jsonMatch = output.match(/\\[\\s*{[\\s\\S]*}\\s*\\]/);\n    if (jsonMatch) {\n      testCases = JSON.parse(jsonMatch[0]);\n    } else {\n      testCases = [];\n    }\n  }\n  \n  if (!Array.isArray(testCases)) {\n    testCases = [testCases];\n  }\n  \n  allTestCases = allTestCases.concat(testCases);\n});\n\nconst formattedOutput = {\n  repository: {\n    owner: repoInfo.owner,\n    repo: repoInfo.repo,\n    branch: repoInfo.branch,\n    url: repoInfo.repositoryUrl\n  },\n  processingMode: repoInfo.processingMode,\n  summary: {\n    totalSourceFiles: repoInfo.sourceFilesCount,\n    filesAnalyzed: allTestCases.length,\n    generatedAt: new Date().toISOString(),\n    batchesProcessed: items.length\n  },\n  testFiles: allTestCases.map((tc, index) => ({\n    id: index + 1,\n    sourceFile: tc.sourceFile,\n    testFile: tc.testFile,\n    framework: tc.framework || 'jest',\n    language: tc.language,\n    testFileContent: tc.testFileContent || '',\n    dependencies: tc.dependencies || [],\n    coverage: tc.coverage || {},\n    runCommand: tc.runCommand || '',\n    notes: tc.notes || ''\n  }))\n};\n\nreturn [{ json: formattedOutput }];"
      },
      "id": "51609c08-284d-4caa-bd89-8e4c0858dbe2",
      "name": "Format Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [784, -16]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "=github-test-cases-{{ $json.repository.repo }}-{{ $json.processingMode }}-{{ $now.format('yyyy-MM-dd-HHmmss') }}.json"
        }
      },
      "id": "b5426a06-fd53-4abf-8ad5-60d26fcde369",
      "name": "Export to JSON File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1008, -16]
    },
    {
      "parameters": {
        "jsCode": "// Attach repository context to each testFile entry\nconst formatted = $input.first().json;\nconst repo = formatted.repository || {};\nconst testFiles = formatted.testFiles || [];\nconst enriched = testFiles.map(tf => ({ ...tf, owner: tf.owner || repo.owner, repo: tf.repo || repo.repo, branch: tf.branch || repo.branch }));\nreturn [{ json: { testFiles: enriched } }];"
      },
      "id": "h1i2j3k4-l5m6-n7o8-p9q0-r1s2t3u4v5w6",
      "name": "Attach Repo Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 160]
    },
    {
      "parameters": {
        "fieldToSplitOut": "testFiles",
        "options": {}
      },
      "id": "f1e2d3c4-b5a6-7c8d-9e0f-1a2b3c4d5e6f",
      "name": "Split Test Files",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1008, 192]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "fileName": "={{ $json.localFileName || $json.testFile }}",
          "mimeType": "text/plain"
        }
      },
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Create Test File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1232, 192]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "data",
              "value": "={{ $json.testFileContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-h8i9-j0k1-l2m3n4o5p6q7",
      "name": "Prepare Test File Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1232, 304]
    },
    {
      "parameters": {
        "jsCode": "// Prepare commit payload for GitHub\nconst item = $input.first().json || {};\nconst content = item.testFileContent || item.data || '';\n\n// Get original source filename\nconst sourceFile = item.sourceFile || '';\nlet baseFileName = '';\nif (sourceFile) {\n  const pathParts = sourceFile.split('/');\n  baseFileName = pathParts[pathParts.length - 1];\n  // Remove extension and add test suffix\n  const dotIndex = baseFileName.lastIndexOf('.');\n  if (dotIndex > 0) {\n    const nameWithoutExt = baseFileName.substring(0, dotIndex);\n    const ext = baseFileName.substring(dotIndex);\n    baseFileName = `${nameWithoutExt}.test${ext}`;\n  } else {\n    baseFileName = `${baseFileName}.test`;\n  }\n} else {\n  baseFileName = `generated_test_${Date.now()}.js`;\n}\n\n// Build target path under tests/auto-generated\nconst targetPath = item.testFile || `tests/auto-generated/${baseFileName}`;\n\n// Base64 encode the content\nconst contentBase64 = Buffer.from(content, 'utf8').toString('base64');\n\n// Get owner/repo/branch from item or Configuration node\nlet owner = item.owner || (item.repository && item.repository.owner) || undefined;\nlet repo = item.repo || (item.repository && item.repository.repo) || undefined;\nlet branch = item.branch || (item.repository && item.repository.branch) || undefined;\ntry {\n  const cfg = $('Configuration').first().json || {};\n  owner = owner || cfg.owner || 'unknown-owner';\n  repo = repo || cfg.repo || 'unknown-repo';\n  branch = branch || cfg.branch || 'main';\n} catch (e) {\n  owner = owner || 'unknown-owner';\n  repo = repo || 'unknown-repo';\n  branch = branch || 'main';\n}\n\n// Extract filename for commit message and local export\nconst pathParts = targetPath.split('/');\nconst localFileName = pathParts[pathParts.length - 1];\nconst commitMessage = `chore(tests): add auto-generated test for ${sourceFile || localFileName}`;\n\n// Return data for both GitHub commit and local file creation\nreturn [{ json: { owner, repo, branch, targetPath, contentBase64, commitMessage, testFile: item.testFile, testFileContent: content, data: content, localFileName } }];"
      },
      "id": "g1h2i3j4-k5l6-m7n8-o9p0-q1r2s3t4u5v6",
      "name": "Prepare Git Commit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1472, 304]
    },
    {
      "parameters": {
        "jsCode": "// Preserve commit data and prepare for branch check\nconst commitData = $input.first().json;\nconst config = $('Configuration').first().json;\n\nreturn [{\n  json: {\n    ...commitData,\n    testBranch: config.testBranch,\n    checkBranchUrl: `https://api.github.com/repos/${commitData.owner}/${commitData.repo}/branches/${config.testBranch}`\n  }\n}];"
      },
      "id": "preserve-commit-data-001",
      "name": "Preserve Commit Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1696, 304]
    },
    {
      "parameters": {
        "url": "={{ $json.checkBranchUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "allowUnauthorizedCerts": false,
          "ignoreResponseCode": true
        }
      },
      "id": "check-branch-exists-001",
      "name": "Check If Test Branch Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 304],
      "credentials": {
        "githubApi": {
          "id": "74FBfZyE3yFXYmu7",
          "name": "GitHub account 5"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge the branch check result with commit data\nconst branchCheckResult = $input.first().json;\nconst commitData = $('Preserve Commit Data').first().json;\n\n// Check if the request failed (error property exists) or succeeded\nconst hasError = branchCheckResult.error !== undefined;\nconst statusCode = branchCheckResult.statusCode || (hasError ? 404 : 200);\nconst branchExists = !hasError && statusCode === 200;\n\nreturn [{\n  json: {\n    ...commitData,\n    branchExists: branchExists,\n    statusCode: statusCode\n  }\n}];"
      },
      "id": "merge-branch-check-result-001",
      "name": "Merge Branch Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2144, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "branch-exists-check",
              "leftValue": "={{ $json.branchExists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "branch-exists-condition-001",
      "name": "Branch Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2368, 304]
    },
    {
      "parameters": {
        "jsCode": "// Get the latest commit SHA from the main branch to create new branch from it\nconst data = $input.first().json;\nconst prepareCommitData = $('Prepare Git Commit').first().json;\nconst config = $('Configuration').first().json;\n\nreturn [{\n  json: {\n    owner: prepareCommitData.owner,\n    repo: prepareCommitData.repo,\n    sourceBranch: config.branch,\n    testBranch: config.testBranch,\n    ...prepareCommitData\n  }\n}];"
      },
      "id": "prepare-branch-creation-001",
      "name": "Prepare Branch Creation Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2592, 192]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/git/ref/heads/{{ $json.sourceBranch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "get-source-branch-sha-001",
      "name": "Get Source Branch SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2816, 192],
      "credentials": {
        "githubApi": {
          "id": "74FBfZyE3yFXYmu7",
          "name": "GitHub account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Prepare Branch Creation Data').first().json.owner }}/{{ $('Prepare Branch Creation Data').first().json.repo }}/git/refs",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ref: 'refs/heads/' + $('Prepare Branch Creation Data').first().json.testBranch, sha: $json.object.sha }) }}",
        "options": {}
      },
      "id": "create-test-branch-001",
      "name": "Create Test Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3040, 192],
      "credentials": {
        "githubApi": {
          "id": "74FBfZyE3yFXYmu7",
          "name": "GitHub account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge the branch creation result with the commit data\nconst prepareCommitData = $('Prepare Git Commit').first().json;\nconst config = $('Configuration').first().json;\n\nreturn [{\n  json: {\n    ...prepareCommitData,\n    branch: config.testBranch  // Override branch to use test branch\n  }\n}];"
      },
      "id": "merge-branch-data-001",
      "name": "Set Test Branch for Commit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3264, 192]
    },
    {
      "parameters": {
        "jsCode": "// For existing branch, just pass through with test branch override\nconst prepareCommitData = $('Preserve Commit Data').first().json;\nconst config = $('Configuration').first().json;\n\nreturn [{\n  json: {\n    ...prepareCommitData,\n    branch: config.testBranch  // Override branch to use test branch\n  }\n}];"
      },
      "id": "use-existing-branch-001",
      "name": "Use Existing Test Branch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2592, 416]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-branch-paths-001",
      "name": "Merge Branch Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3488, 304]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/contents/{{ $json.targetPath }}",
        "method": "PUT",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.commitMessage, content: $json.contentBase64, branch: $json.branch }) }}",
        "options": {}
      },
      "id": "z9y8x7w6-v5u4-t3s2-r1q0-p9o8n7m6l5k4",
      "name": "Create/Update File on GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3712, 304],
      "credentials": {
        "githubApi": {
          "id": "74FBfZyE3yFXYmu7",
          "name": "GitHub account 5"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-5-sonnet-20241022-v2:0",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "3a3582f0-bbf7-482d-88bc-dd6f46a575af",
      "name": "AWS Bedrock - Individual",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [336, 128],
      "credentials": {
        "aws": {
          "id": "bYwD2zosP6YYHz0J",
          "name": "AWS account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic.claude-3-5-sonnet-20241022-v2:0",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "ae37cee3-985b-4b77-bcb2-fb453030671a",
      "name": "AWS Bedrock - Batch",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1,
      "position": [-112, 304],
      "credentials": {
        "aws": {
          "id": "bYwD2zosP6YYHz0J",
          "name": "AWS account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Get Branch Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Branch Info": {
      "main": [
        [
          {
            "node": "Get Repository Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repository Tree": {
      "main": [
        [
          {
            "node": "Process File Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process File Structure": {
      "main": [
        [
          {
            "node": "Route by Processing Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Processing Mode": {
      "main": [
        [
          {
            "node": "Split Into Individual Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Individual Files": {
      "main": [
        [
          {
            "node": "Fetch File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch File Content": {
      "main": [
        [
          {
            "node": "Prepare Individual File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Individual File": {
      "main": [
        [
          {
            "node": "Prepare Individual File Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Individual File Prompt": {
      "main": [
        [
          {
            "node": "AI - Individual File Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Individual File Analysis": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Batches": {
      "main": [
        [
          {
            "node": "Prepare Batch Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch Prompt": {
      "main": [
        [
          {
            "node": "AI - Batch Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Batch Analysis": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Results": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Output": {
      "main": [
        [
          {
            "node": "Export to JSON File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attach Repo Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Test Files": {
      "main": [
        [
          {
            "node": "Prepare Test File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Repo Context": {
      "main": [
        [
          {
            "node": "Split Test Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Test File Content": {
      "main": [
        [
          {
            "node": "Prepare Git Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Git Commit": {
      "main": [
        [
          {
            "node": "Preserve Commit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Commit Data": {
      "main": [
        [
          {
            "node": "Check If Test Branch Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Test Branch Exists": {
      "main": [
        [
          {
            "node": "Merge Branch Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Branch Check Result": {
      "main": [
        [
          {
            "node": "Branch Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch Exists?": {
      "main": [
        [
          {
            "node": "Prepare Branch Creation Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Existing Test Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Branch Creation Data": {
      "main": [
        [
          {
            "node": "Get Source Branch SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Source Branch SHA": {
      "main": [
        [
          {
            "node": "Create Test Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Branch": {
      "main": [
        [
          {
            "node": "Set Test Branch for Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Branch for Commit": {
      "main": [
        [
          {
            "node": "Merge Branch Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Test Branch": {
      "main": [
        [
          {
            "node": "Merge Branch Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branch Paths": {
      "main": [
        [
          {
            "node": "Create/Update File on GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update File on GitHub": {
      "main": [
        [
          {
            "node": "Create Test File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock - Batch": {
      "ai_languageModel": [
        [
          {
            "node": "AI - Batch Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock - Individual": {
      "ai_languageModel": [
        [
          {
            "node": "AI - Individual File Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b00aec4-0ef9-43d4-bf6d-311529cd9429",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e19bcd79288ba32d5b00c6bcd097856e2fdca4230440ae71d65e560d4587140f"
  },
  "id": "5ThSjB47VE5gPvC3",
  "tags": []
}
